body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  font-size: 60px;
  font-weight: bold;
}

.clock {
  font-weight: bold;
  font-size: 30px;
}

#inputBox {
  margin-top: 15px;
}
#textInput {
  width: 250px;
  height: 20px;
  font-size: 14px;
  background-color: black;
  border-radius: 5px;
  border: none;
  color: white;
}

#plusButton {
  cursor: pointer;
  padding: 0;
  font-size: 14px;
  width: 23px;
  height: 23px;
  text-align: center;
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
}

#select {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: space-around;
}

#select button {
  cursor: pointer;
  width: 50px;
  height: 25px;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

#select button:hover {
  color: rgb(0, 0, 0);
}

#select button:nth-child(2n) {
  background-color: darkgray;
}

#select button:nth-child(2n + 1) {
  background-color: lightgray;
}

.selected {
  background-color: rgba(255, 0, 0, 0.8) !important;
  color: rgb(0, 0, 0) !important;
}

#List {
  list-style: none;
  padding: 0;
}

li {
  cursor: pointer;
  width: 1000px;
  height: 70px;
  margin-top: 15px;
  padding-left: 25px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 10px;
  text-align: center;
  line-height: 70px;
  overflow: auto;
  transition: 0.3s ease-in-out;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.success {
  color: red;
  text-decoration: line-through;
}

li button {
  cursor: pointer;
  float: right;
  margin-top: 25px;
  margin-right: 25px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 0;
  transition: 0.5s ease-in-out;
}

li button:hover {
  background-color: lightgrey;
  color: black;
}

#result {
  padding: 0;
  border: none;
}
